DOCTYPE
html(lang='en')
head
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400&amp;family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  link(rel='stylesheet' href='style.css')
  meta(charset='UTF-8')
  title ToDo
body
  main
    section.greeting
      h2.title What's up,
        input(type='text' placeholder='User' id='name')
    section.create-todo
      h3 CREATE A TODO
      form(id='new-todo-form')
        h4 What's on your todo?
        input(type='text' placeholder='e.g. Get some milk' name='content')
        h4 Pick a category
        .option
          label.business
            input(type='radio' name='category' value='business' id='category1')
            span.bubble.business
            div Business
          label.personal
            input(type='radio' name='category' value='personal' id='category2')
            span.bubble.personal
            div Personal
        input(type='submit' value='ADD TODO')
    section.todo-list
      h3 TODO LIST
      .list#todo-list
  script(src='main.js')


